.about-me-img-col {
  padding-left: 0px;
}

.about-me-p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #363945;
  margin-top: 10px;
  float: right;
}

.about-me-a,
a,
a:hover {
  color: #363945;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  padding-top: 20px;
  text-decoration: none;
  margin-top: 20px;
}

.about-me-a a,
a:hover {
  color: #e5cace;
}

.about-me-img {
  width: 200px;
}
